<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment="job-table" class="job-listing" th:each="job : ${jobs}">
        <tbody>
        <tr th:each="j : ${job}">
            <td th:text="${#strings.capitalizeWords(j.key)}"></td>
            <td th:if="not ${#strings.equals(j.key,'name')}"><a th:href="@{/list/jobs(column=${j.key},value=${j.value})}" th:text="${j.value}"></a></td>
            <td th:if="${#strings.equals(j.key,'name')}" th:text="${j.value}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>